{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2> Order Form</h2>
<form method="POST">
  {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea type="text" class="form-control" name="a" placeholder="Enter Address"></textarea>
    </div>
<div class="mb-3">
    <label class="form-label">Contact Number</label>
    <input type="text" class="form-control" name="b" placeholder="Enter Contact Number">
</div>
    <div class="mb-3">
        <label class="form-label">Account Number</label>
        <input type="text" class="form-control" name="c" placeholder="Enter Account Number">
    </div>
    <center>
    <input type="submit">
        </center>
</form>
{% endblock %}
